/*.row {
     position: center;
    left: 0;
    top: 50%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    
    width: 100%;
    
} */

.mainColor {
    background-color: #2d545e;
    color: #e1b382;
}

.mainContent {
    margin-top: 15px;
}

h1 {
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: blue;
    color: cornsilk;
    
}

/*.col-s12{
     position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    background-color: blue;
    width: 100%;
    color: cornsilk;

} */

body{
    background-image: url(./navy_blue.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
      
    

}

main {
    flex: 1 0 auto;
  }

