.row {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    background-color: darkgreen;
    width: 100%;
    color: cornsilk;
}

h1 {
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: blue;
    color: cornsilk;
    
}

